html{
  box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing:inherit;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

body{
  font-family: 'Amatic SC', cursive;
  background-color: black;
}

/*Welcome page*/
.welcome{ 
  background-repeat: no-repeat;
}

header{
  border-radius:8px;
  text-align:center;
  font-weight:700;
}

a{
	text-decoration:none;
	color:black;
}


/*About Page*/
.about{
  background-image: url("images/foliage.jpg");
  background-repeat:no-repeat;
}

.background{
  background:rgba(255,255,255,0.70);
  font-family: 'Open Sans';
  border-radius: 8px;
}


/*Photography Page*/
.photos{
  background-color: white;
}  

#photography{
  font-weight:700;
}

.container{
  width: 100%;
  margin: 0 auto;
}

div .grid img{
  float: left;
  border-radius: 8px;
  overflow: hidden;
}

div .grid img:hover{
  opacity: 0.5;
}


/*Contact Page*/
.contact{
  background-repeat:no-repeat;
}


/*Javascript Styles*/

.hover{
  background-color: rgba(255,255,255,0.80);
}

.bigger{
  width: 70px;
  margin-left: 90px;
}








