/* Tablet Portrait Styles */

@media (min-width: 768px){

/*Welcome Page*/

	.welcome{
		background-image: url("images/window.jpg");
  		background-size: 150%;
	}

	header{
		width: 50%;
  		padding:20px;
  		float:right;
  		background:rgba(255,255,255,0.5);
  		font-size: 80px;
  		margin-top: 100px;
	}

	span{
		display:none;
	}

	.dropbtn{
		display: none;
	}

	ul{
		display: block;
  		list-style:none;
  		font-size:50px;
  		font-weight:700;
  		padding-left: 10px;
  		text-align:center;
  		width: 30%;
  		line-height:1.5;
  		margin-top:300px;
  		float:left;
	}

	li{
  		padding:14px;
		background:rgba(255,255,255,0.5);
		border-radius:8px;
		margin:10px;
	}

	.emptyspace{
  		float: right;
  		width: 100%;
  		height: 200px;
	}


	.footer{
		display: block;
  		background: rgba(0,0,0,0.8);
  		color:white;
  		float: right;
  		width: 100%;
  		height: 100px;
  		text-align: center;
  		font-size: 30px;
  		padding-top: 30px;
	}

 /*About Page*/

 	.about{
 		background-size: 160%;
 	}

 	.background{
  		width: 60%;
  		padding:50px;
  		background:rgba(255,255,255,0.5);
  		font-size:18px;
  		line-height:1.5;
  		float:right;
  		margin:30px;
  		margin-top:40px;
	}	

/*Contact Page*/

	.contact{
		background-image: url(images/stars.jpg);
		background-size: 150%;
	}


/*Photography Page*/

	aside{
		display: block;
  		float:left;
  		width:30%;
	}

	aside img{
  		width:70px;
  		margin: 60px;
	}

	#photography{
		font-size:90px;
		text-align:right;
  		width: 50%;
	}

	.container{
		padding:20px;
  		padding-top:0px;
	}

	div .grid img{
		width: 30%;
  		height: 250px;
  		margin:10px;
	}
}


/* Tablet Landscape Styles */

@media (min-width: 1024px){





}